node_modules/
test/*.json
.vscode/*.json
LocalScript/minutes
nami.md
test.js
notes.md
test_run
Groups/epub-wg/scribejs_config_local.json
Groups/epub-wg/scribejs_a11y_config_local.json
Groups/did-wg/scribejs_config_local.json
Groups/did-wg/scribejs_config_local_topic.json

